h1,
h2,
h3,
h4,
h5 {
  font-family: 'Teko', sans-serif;
  color: #030303;
}

html,
body {
  margin: 0;
}

.banner, .banner-1, .banner-2, .banner-3 {
  height: 36px;
  background: #E2EAEB;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.banner-1 {
  background: #F4E1E6;
}
.banner-2 {
  background: #EFE1CE;
}
.banner-3 {
  background: #FED1BD;
}

.banner-item {
  flex-shrink: 0;
}

h4 {
  margin: 0;
  letter-spacing: -0.5px;
}
